.Weather {
  width: 40vw;
  min-height: 490px;
  margin: 0 auto;
  padding: 20px 25px;
  box-shadow: 22px -16px 28px -15px rgba(140, 138, 138, 0.37);
  text-align: left;
  border-radius: 10px;
  background-image: linear-gradient(
    45deg,
    #5afda4 0%,
    #fffb7d 50%,
    #a9f8f9 100%
  );
}

@media (max-width: 800px) {
  .Weather {
    width: 80vw;
    min-height: 80vh;
    font-size: 14px;
  }
  .Weathere h1 {
    font-size: 18px;
  }
}

div .Weather {
  display: flex;
  flex-direction: column;
}

div .content-section {
  flex: 1 1 auto;
}

.Weather h1 {
  font-size: 28px;
  color: #0d6efd;
}

.Weather h2 {
  font-size: 28px;
  color: #0d6efd;
  margin-left: 20px;
}
